.sprite-container{
  display: grid;
  grid-template-columns: repeat(8, 3rem);
  grid-gap: .15rem; 
  background-color: darkgray;
  width: fit-content;
  padding: .25rem
}

.sprite-cell{
  width: 3rem;
  height: 3rem;
}

.sprite-cell:hover{
  cursor: pointer;
}
